<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.AutoScaling" version="3.7.9.13" targetFramework="net48" />
  <package id="AWSSDK.Core" version="3.7.10.1" targetFramework="net48" />
  <package id="AWSSDK.EC2" version="3.7.63" targetFramework="net48" />
  <package id="AWSSDK.S3" version="3.7.8.13" targetFramework="net48" />
  <package id="AWSSDK.SimpleSystemsManagement" version="3.7.14.1" targetFramework="net48" />
  <package id="AWSSDK.SQS" version="3.7.2.38" targetFramework="net48" />
  <package id="log4net" version="2.0.14" targetFramework="net48" />
  <package id="MathNet.Numerics" version="4.15.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
</packages>