<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.CloudWatch" version="3.3.5.1" targetFramework="net462" />
  <package id="AWSSDK.Core" version="3.3.21.14" targetFramework="net462" />
  <package id="AWSSDK.DynamoDBv2" version="3.3.6" targetFramework="net462" />
  <package id="AWSSDK.S3" version="3.3.17" targetFramework="net462" />
  <package id="AWSSDK.SQS" version="3.3.3.2" targetFramework="net462" />
  <package id="MathNet.Numerics" version="4.4.0" targetFramework="net462" />
  <package id="MySql.Data" version="6.10.6" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net462" />
</packages>