<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.103.66" targetFramework="net462" />
  <package id="AWSSDK.DynamoDBv2" version="3.3.102.4" targetFramework="net462" />
  <package id="AWSSDK.S3" version="3.3.107.2" targetFramework="net462" />
  <package id="AWSSDK.SQS" version="3.3.102.33" targetFramework="net462" />
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net462" />
  <package id="log4net" version="2.0.8" targetFramework="net462" />
  <package id="MathNet.Numerics" version="4.4.0" targetFramework="net462" />
  <package id="MySql.Data" version="8.0.11" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
</packages>