<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.107.27" targetFramework="net462" />
  <package id="AWSSDK.DynamoDBv2" version="3.3.102.4" targetFramework="net462" />
  <package id="AWSSDK.S3" version="3.3.107.2" targetFramework="net462" />
  <package id="AWSSDK.SimpleSystemsManagement" version="3.3.126.15" targetFramework="net462" />
  <package id="AWSSDK.SQS" version="3.3.102.33" targetFramework="net462" />
  <package id="log4net" version="2.0.8" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net462" />
</packages>