Imaging/bin/
Imaging/obj/
ImagingTest/bin/
ImagingTest/obj/
Pipeline/bin/
Pipeline/obj/
packages/
.vs/
Xna/bin/
Xna/obj/
XnaTest/bin/
XnaTest/obj/
MathExtensions/bin/
MathExtensions/obj/
TestResults/
PipelineTest/bin/
PipelineTest/obj/
Geometry/bin/
Geometry/obj/
