src/**/obj/
src/**/bin/
packages/
packages-docker/
**/native-*/
OLD/
NEW/
Unity3DTilesWeb/
Unity3DTilesWeb.zip
Landform-*/
Landform-*.zip
tilesets
tilesets/
dems
dems/
*.pem
cfg/
log/
tmp/
storage/
TestResults/
deps/emgucv/
scripts/osx-signing-cert.p12
