Alignment/bin/
Alignment/obj/
Imaging/bin/
Imaging/obj/
ImagingTest/bin/
ImagingTest/obj/
ImagingEmgu/bin/
ImagingEmgu/obj/
ImagingEmguTest/bin/
ImagingEmguTest/obj/
Cloud/Infrastructure/release/
LambdaDynamoProcessing/bin/
LambdaDynamoProcessing/obj/
LambdaQueueSizeMetric/bin/
LambdaQueueSizeMetric/obj/
LambdaS3PutProcessing/bin/
LambdaS3PutProcessing/obj/
LambdaUtil/bin/
LambdaUtil/obj/
Pipeline/bin/
Pipeline/obj/
packages/
.vs/
Xna/bin/
Xna/obj/
XnaTest/bin/
XnaTest/obj/
MathExtensions/bin/
MathExtensions/obj/
TestResults/
PipelineTest/bin/
PipelineTest/obj/
Geometry/bin/
Geometry/obj/
AssimpInterfaceTest/bin/
AssimpInterface/obj/
AssimpInterfaceTest/obj/
AssimpInterface/bin/
GeometryTest/bin/
GeometryTest/obj/
PipelineTest/bin/
PipelineTest/obj/
TestData/bin/
TestData/obj/
Landform/bin/
Landform/obj/
Util/obj/
Util/bin/
GeometryThirdparty/bin/
GeometryThirdparty/obj/
GeometryThirdpartyTest/bin/
GeometryThirdpartyTest/obj/
UtilTest/bin/
UtilTest/obj/
Cloud/bin/
Cloud/obj/
*.user
CloudTest/bin/
CloudTest/obj/
MathExtensionsTest/bin/
MathExtensionsTest/obj/
out/
AlignmentTest/bin/
AlignmentTest/obj/
RayTrace/bin/
RayTrace/obj/
RayTraceTest/bin/
RayTraceTest/obj/
