'Projects'
'Frames'
{
    "Parameters": {
        "TableAutoscalingRoleArn": {
            "Default": "arn:aws:iam::589270964471:role/AutoscalingServiceRole",
            "Description": "Role assumed by autoscaling agents for tables.",
            "Type": "String"
        },
        "TablePrefix": {
            "Description": "The table name prefix. Workers will use this to publish to their tables even if multiple stacks run in the same region.",
            "Type": "String"
        }
    },
    "Resources": {
        "Frames": {
            "Properties": {
                "AttributeDefinitions": [
                    {
                        "AttributeName": "Name",
                        "AttributeType": "S"
                    },
                    {
                        "AttributeName": "ProjectName",
                        "AttributeType": "S"
                    },
                    {
                        "AttributeName": "ParentName",
                        "AttributeType": "S"
                    }
                ],
                "KeySchema": [
                    {
                        "AttributeName": "Name",
                        "KeyType": "HASH"
                    },
                    {
                        "AttributeName": "ProjectName",
                        "KeyType": "RANGE"
                    }
                ],
                "ProvisionedThroughput": {
                    "ReadCapacityUnits": 5,
                    "WriteCapacityUnits": 5
                },
                "TableName": {
                    "Fn::Join": [
                        "",
                        [
                            {
                                "Ref": "TablePrefix"
                            },
                            "Frames"
                        ]
                    ]
                }
            },
            "Type": "AWS::DynamoDB::Table"
        },
        "FramesReadPolicy": {
            "Properties": {
                "PolicyName": "WriteAutoScalingPolicy",
                "PolicyType": "TargetTrackingScaling",
                "ScalingTargetId": {
                    "Ref": "FramesReadTarget"
                },
                "TargetTrackingScalingPolicyConfiguration": {
                    "PredefinedMetricSpecification": {
                        "PredefinedMetricType": "DynamoDBReadCapacityUtilization"
                    },
                    "ScaleInCooldown": 60,
                    "ScaleOutCooldown": 60,
                    "TargetValue": 50
                }
            },
            "Type": "AWS::ApplicationAutoScaling::ScalingPolicy"
        },
        "FramesReadTarget": {
            "Properties": {
                "MaxCapacity": 50,
                "MinCapacity": 5,
                "ResourceId": {
                    "Fn::Join": [
                        "/",
                        [
                            "table",
                            {
                                "Ref": "Frames"
                            }
                        ]
                    ]
                },
                "RoleARN": {
                    "Ref": "TableAutoscalingRoleArn"
                },
                "ScalableDimension": "dynamodb:table:ReadCapacityUnits",
                "ServiceNamespace": "dynamodb"
            },
            "Type": "AWS::ApplicationAutoScaling::ScalableTarget"
        },
        "FramesWritePolicy": {
            "Properties": {
                "PolicyName": "WriteAutoScalingPolicy",
                "PolicyType": "TargetTrackingScaling",
                "ScalingTargetId": {
                    "Ref": "FramesWriteTarget"
                },
                "TargetTrackingScalingPolicyConfiguration": {
                    "PredefinedMetricSpecification": {
                        "PredefinedMetricType": "DynamoDBWriteCapacityUtilization"
                    },
                    "ScaleInCooldown": 60,
                    "ScaleOutCooldown": 60,
                    "TargetValue": 50
                }
            },
            "Type": "AWS::ApplicationAutoScaling::ScalingPolicy"
        },
        "FramesWriteTarget": {
            "Properties": {
                "MaxCapacity": 50,
                "MinCapacity": 5,
                "ResourceId": {
                    "Fn::Join": [
                        "/",
                        [
                            "table",
                            {
                                "Ref": "Frames"
                            }
                        ]
                    ]
                },
                "RoleARN": {
                    "Ref": "TableAutoscalingRoleArn"
                },
                "ScalableDimension": "dynamodb:table:WriteCapacityUnits",
                "ServiceNamespace": "dynamodb"
            },
            "Type": "AWS::ApplicationAutoScaling::ScalableTarget"
        },
        "Projects": {
            "Properties": {
                "AttributeDefinitions": [
                    {
                        "AttributeName": "Name",
                        "AttributeType": "S"
                    },
                    {
                        "AttributeName": "InputPath",
                        "AttributeType": "S"
                    },
                    {
                        "AttributeName": "ProductPath",
                        "AttributeType": "S"
                    }
                ],
                "KeySchema": [
                    {
                        "AttributeName": "Name",
                        "KeyType": "HASH"
                    }
                ],
                "ProvisionedThroughput": {
                    "ReadCapacityUnits": 5,
                    "WriteCapacityUnits": 5
                },
                "TableName": {
                    "Fn::Join": [
                        "",
                        [
                            {
                                "Ref": "TablePrefix"
                            },
                            "Projects"
                        ]
                    ]
                }
            },
            "Type": "AWS::DynamoDB::Table"
        },
        "ProjectsReadPolicy": {
            "Properties": {
                "PolicyName": "WriteAutoScalingPolicy",
                "PolicyType": "TargetTrackingScaling",
                "ScalingTargetId": {
                    "Ref": "ProjectsReadTarget"
                },
                "TargetTrackingScalingPolicyConfiguration": {
                    "PredefinedMetricSpecification": {
                        "PredefinedMetricType": "DynamoDBReadCapacityUtilization"
                    },
                    "ScaleInCooldown": 60,
                    "ScaleOutCooldown": 60,
                    "TargetValue": 50
                }
            },
            "Type": "AWS::ApplicationAutoScaling::ScalingPolicy"
        },
        "ProjectsReadTarget": {
            "Properties": {
                "MaxCapacity": 50,
                "MinCapacity": 5,
                "ResourceId": {
                    "Fn::Join": [
                        "/",
                        [
                            "table",
                            {
                                "Ref": "Projects"
                            }
                        ]
                    ]
                },
                "RoleARN": {
                    "Ref": "TableAutoscalingRoleArn"
                },
                "ScalableDimension": "dynamodb:table:ReadCapacityUnits",
                "ServiceNamespace": "dynamodb"
            },
            "Type": "AWS::ApplicationAutoScaling::ScalableTarget"
        },
        "ProjectsWritePolicy": {
            "Properties": {
                "PolicyName": "WriteAutoScalingPolicy",
                "PolicyType": "TargetTrackingScaling",
                "ScalingTargetId": {
                    "Ref": "ProjectsWriteTarget"
                },
                "TargetTrackingScalingPolicyConfiguration": {
                    "PredefinedMetricSpecification": {
                        "PredefinedMetricType": "DynamoDBWriteCapacityUtilization"
                    },
                    "ScaleInCooldown": 60,
                    "ScaleOutCooldown": 60,
                    "TargetValue": 50
                }
            },
            "Type": "AWS::ApplicationAutoScaling::ScalingPolicy"
        },
        "ProjectsWriteTarget": {
            "Properties": {
                "MaxCapacity": 50,
                "MinCapacity": 5,
                "ResourceId": {
                    "Fn::Join": [
                        "/",
                        [
                            "table",
                            {
                                "Ref": "Projects"
                            }
                        ]
                    ]
                },
                "RoleARN": {
                    "Ref": "TableAutoscalingRoleArn"
                },
                "ScalableDimension": "dynamodb:table:WriteCapacityUnits",
                "ServiceNamespace": "dynamodb"
            },
            "Type": "AWS::ApplicationAutoScaling::ScalableTarget"
        }
    }
}
