<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.7.13.18" targetFramework="net48" />
  <package id="AWSSDK.S3" version="3.7.9.67" targetFramework="net48" />
  <package id="AWSSDK.SQS" version="3.7.2.117" targetFramework="net48" />
  <package id="ColorMine" version="1.2.0" targetFramework="net48" />
  <package id="CommandLineParser" version="2.9.1" targetFramework="net48" />
  <package id="EmguCV" version="3.1.0.1" targetFramework="net48" />
  <package id="GDAL" version="2.3.2" targetFramework="net48" />
  <package id="GDAL.Native" version="2.3.2" targetFramework="net48" />
  <package id="log4net" version="2.0.15" targetFramework="net48" />
  <package id="MathNet.Numerics" version="5.0.0" targetFramework="net48" />
  <package id="OpenTK" version="3.1.0" targetFramework="net48" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net48" />
  <package id="RTree" version="1.1.0" targetFramework="net48" />
  <package id="System.CodeDom" version="6.0.0" targetFramework="net48" />
  <package id="System.Collections" version="4.3.0" targetFramework="net48" />
  <package id="System.Console" version="4.3.1" targetFramework="net48" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net48" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Management" version="6.0.0" targetFramework="net48" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net48" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net48" />
  <package id="System.Reflection.TypeExtensions" version="4.7.0" targetFramework="net48" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net48" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net48" />
</packages>